
    .my-custom-menu {
       --width: 150px;
    }
    .ion-button {
      display:inline-block;   
      vertical-align:middle;
      background-color:#C3E4FA; 
      border-radius:35px; 
      width:100px; 
      height:110px;
    }
    .icon{
      text-align: center; 
      color:#0D7FDB; 
      width:70px; 
      height:70px;
    }
    .item-text-wrap{
      color:#0D7FDB; 
      font-size:20px;
    }
    .button-inner{
      flex-flow: column;
      white-space: pre-line;
    }