<ion-header>
  <ion-toolbar>
    <ion-title>dimdian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div style="background-color: #C3E4FA; height: 120px;" id="container">
    <div style="text-align: left;">
      <ion-icon style="color: #827E7E; font-size: 30px; position:absolute; top:18px; left: 5pt;" name="chevron-back-outline"></ion-icon>
    </div>
    <div>
      <h1 style="color: #0D7FDB; font-size: 24px; font-family: Roboto; font-weight: 600;">
        定點査詢
      </h1>
    </div>
    <div>
      <ion-icon name="location-outline" style="font-size: 90px; color: #0D7FDB; position:absolute; top:15px;"></ion-icon>
    </div>
  </div> -->

  <div class="d0">
    <ion-text color="dark" style="font-size: 40px;">
      <strong>{{this.landmark}}</strong>
    </ion-text><br>
    <ion-text id="address" color="dark" style="font-size: 20px;">
      <strong>{{this.address0}}</strong></ion-text>
  </div>

  <!-- 車禍事故發生率 -->
  <div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-text class="rate"><strong>車禍事故安全級數</strong></ion-text><br>
            <!-- 之後要放紅配貨品然傳給我的時間 -->
            <ion-text id="whatsday">{{this.day}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" size="smaller" (click)=open2IMG() style="position:absolute; top: 0%; ">
              <ion-icon name="chevron-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="1"> </ion-col> -->
          <ion-col size="12">
            <img id="img1" src="assets\icon\1.png" alt="壞壞" style="display: none;" />
            <img id="img2" src="assets\icon\2.png" alt="壞壞" style="display: none;" />
            <img id="img3" src="assets\icon\3.png" alt="壞壞" style="display: none;" />
            <!-- <ion-text class="output">{{this.car}} </ion-text> -->
            <!-- <ion-text style="color: gray;font-size: 35px;"> 級</ion-text> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <canvas id="oImg2" baseChart [datasets]="chartData1" [labels]="chartLabel" [chartType]="chartType"
        [colors]="chartColors" [legend]="showLegend" [options]="chartOptions1"  style="padding-left: 5px;"></canvas>
    </div>
    
  <div style="text-align: center; margin: 20px; width: 90%;">
    <!-- 如果有危險：顯示 -->
    <ion-chip class="cara" color="primary" style="width: 90%;height: 48px; ">
      <ion-avatar>
        <ion-icon class="cara" name="alert-circle-outline" style="width: 24px;height: 24px;"></ion-icon>
      </ion-avatar>
      <!-- 若車禍或暴力案件有超過一定機率時顯示 -->
      <ion-label class="cara" id="carac" class=".ion-button">{{this.cartext}} </ion-label>
    </ion-chip>
  </div>

  </div>

  <br>
  <!-- 居住安全發生率 -->
  <div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-text class="rate"><strong>居住安全級數</strong></ion-text><br>
            <!-- 之後要放紅配貨品然傳給我的時間 -->
            <ion-text id="whatsday">{{this.day}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" size="smaller" (click)=openIMG() style="position:absolute; top: 0%; ">
              <ion-icon name="chevron-down-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
    <div>
      <!-- 到時候回傳的機率 -->
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="1"> </ion-col> -->
          <ion-col size="12">
            <img id="img11" src="assets\icon\1.png" alt="壞壞" style="display: none;" />
            <img id="img12" src="assets\icon\2.png" alt="壞壞" style="display: none;" />
            <img id="img13" src="assets\icon\3.png" alt="壞壞" style="display: none;" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div id='chart' style="padding-left: 5px;">
      <!-- 數據折線圖 -->
      <canvas id="oImg" baseChart [datasets]="chartData" [labels]="chartLabel" [chartType]="chartType"
        [colors]="chartColors" [legend]="showLegend" [options]="chartOptions"  style="padding-left: 5px;"></canvas>
    </div>
    
    <div style="text-align: center; margin: 20px; width: 90%;">
      <ion-chip class="livea" color="primary" style="width: 90%;height: 48px; ">
        <ion-avatar>
          <ion-icon class="livea" name="alert-circle-outline" style="width: 24px;height: 24px;"></ion-icon>
        </ion-avatar>
        <ion-label class="livea" id="liveac" class=".ion-button">{{this.livetext}} </ion-label>
      </ion-chip>
    </div>
  </div>


  <div id='history' style="text-align: center; margin: 20px; width: 90%; display: none;">
    <!-- 如果有危險：顯示 -->
    <ion-chip color="danger" style="width: 90%;height: 48px;">
      <ion-avatar>
        <ion-icon name="alert-circle-outline" style="width: 24px;height: 24px; color: red"></ion-icon>
      </ion-avatar>
      <!-- 若歷史事件顯示出此地點事故頻繁 -->
      <ion-label class=".ion-button" color="danger" style="color: red;">此地點歷史事故頻繁</ion-label>
    </ion-chip>
  </div>



  <div class="d1">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-lg>
          <ion-button class="ion-button" href="#" shape="round" style="padding-left: 6%;">
            <ion-icon name="chatbox-outline" style="color: #C3E4FA; width: 24px; height: 48px; "></ion-icon>
            <p style="color:#C3E4FA; padding-left:8px;"><strong>回報事故</strong></p>
          </ion-button>
        </ion-col>
        <ion-col size="6" size-lg>
          <ion-button class="ion-button" (click)=label() shape="round" style="padding-right: 6%;">
            <ion-icon name="attach-outline" style="color: #C3E4FA; width: 30px; height: 48px; "></ion-icon>
            <p style="color:#C3E4FA; padding-left: 5px;"><strong>記住地點</strong></p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div>
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType"></canvas>
  </div> -->

</ion-content>
