<ion-header>
  <ion-toolbar>
    <ion-title>time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
          <div  style="position: relative;bottom:25%; left: 10px; " >
            <ion-icon name="time-outline" style="width: 28px; height: 28px; color:#0D7FDB"></ion-icon>
          </div>
          <div  style="position: absolute; bottom:15%; left: 40%; width: auto;  display: inline; vertical-align: inherit;">
            <ion-chip id="dayweek" color="primary" style="width: auto;  color: #0D7FDB;">{{this.week}}</ion-chip>
          </div>
          <swiper #newSwiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)" style=" height: 15%; position: absolute; bottom:0%; width: 100%; ">
              <div slot="wrapper-start">
                <ion-icon class="icon" id="icon1" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon2" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon3" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon4" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon5" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon6" name="remove-outline"></ion-icon>
                <ion-icon class="icon" id="icon7" name="remove-outline"></ion-icon>
              </div>
              <!-- <div slot="wrapper-end" *ngFor="let item of days; let i = index"> -->
              <div slot="wrapper-end">
                <!-- <ion-text class="font" id="font1"> {{this.days[i]}} </ion-text> -->
                <ion-text class="font" id="font1"> {{this.hours[0]}} </ion-text>
                <ion-text class="font" id="font2"> {{this.hours[1]}} </ion-text>
                <ion-text class="font" id="font3"> {{this.hours[2]}} </ion-text>
                <ion-text class="font" id="font4"> {{this.hours[3]}} </ion-text>
                <ion-text class="font" id="font5"> {{this.hours[4]}} </ion-text>
                <ion-text class="font" id="font6"> {{this.hours[5]}} </ion-text>
                <ion-text class="font" id="font7"> {{this.hours[6]}} </ion-text> 
              </div>
          </swiper>

</ion-content>
